<div ng-controller="FAQCtrl">
    <script type="text/ng-template" id="FAQModal.html">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">FAQ</h3>
            </div>
            <div class="modal-body">
                <div class="panel-group accordion" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="../#collapseOne">
                                    <i class="fa fa-cloud"></i> What is a good example of a angularStartKit platform?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" style="height: 2px;">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta massa, sit amet maximus odio. Nulla vel sagittis tellus. Nulla tristique nisi vitae blandit vehicula. Sed nunc ex, auctor id semper a, lacinia eu turpis. Maecenas eu mauris vehicula, blandit mauris nec, commodo magna. Nam commodo ultrices placerat. Vivamus suscipit vulputate lacinia. Vestibulum et nisi vel odio dignissim sagittis ut suscipit felis. Vestibulum convallis turpis lectus, a porta est facilisis id.
                                <br>
                                <br>
                                Ut tincidunt elit vitae eleifend blandit. Aenean condimentum neque libero, vehicula sodales massa porta tincidunt. Vestibulum quis felis eget ante fringilla interdum. Pellentesque vehicula neque a libero porta cursus a a neque. Sed vitae lectus urna. Vivamus rutrum ex in purus lacinia vehicula. Fusce mollis sapien sit amet ipsum blandit, ac tristique erat aliquam.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="../#collapseTwo">
                                    <i class="fa fa-gavel"></i> What can I build with angularStartKit platform?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" style="height: 2px;">
                            <div class="panel-body">
                                Mauris eu ultrices metus. Nam blandit malesuada metus a laoreet. Maecenas nec dolor at purus elementum aliquam. Sed id risus at elit facilisis laoreet. Duis mollis ac justo sed varius. Duis non dolor non tellus tincidunt vestibulum at ac velit. Ut quis urna erat. Duis turpis est, egestas sed pellentesque fringilla, mattis eu augue.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="../#collapseThree">
                                    <i class="fa fa-building-o"></i> Do you have any pre-built applications using angularStartKit platform.?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                Sed lobortis non mi et elementum. Quisque in ex dictum, lacinia augue sit amet, commodo quam. Curabitur sit amet auctor nisi. Aenean viverra elit quam, eget efficitur turpis tincidunt vitae. Pellentesque a velit vitae neque tincidunt pharetra eu vel nisl. Integer ac ipsum sed ligula bibendum molestie vel sed sem. Pellentesque a vehicula ante. Fusce commodo sodales purus eget interdum. Pellentesque id aliquam quam.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" type="button" data-dismiss="modal" ng-click="$dismiss('cancel')">Close</button>
            </div>
        </div>

    </script>
</div>